/* ==========================================================================
   Footer - Main footer
   ========================================================================== */

/* General
   ========================================================================== */
.main-footer {
    padding-top: .5em;
    padding-bottom: .5em;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
}