<div class="image-gallery-item-pp">
    {% if resource.media is not empty %}<img src="{{ asset(resource.media.url) }}" {% if resource.mediaAltText is not empty %}alt="{{ resource.mediaAltText }}"{% endif %} />{% endif %}
</div>