{% extends 'IsmaserranoPortfolioBundle:Page:layout.html.twig' %}

{% block content %}
    <div id="page-detail" class="col-lg-12 col-md-12 col-sm-12">
        <div id="detail-container">
            {{ render_pagetemplate(page) }}
        </div>
    </div>
{% endblock %}
